body {
    box-sizing: border-box;
}

#rover {
    width: 75px;
}

.navbar-nav {
    font-size: 1.5rem;
}

.navbar-brand {
    padding: 15px 30px;
}

#rovers-desc {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

#gen-desc {
    padding: 10px;
    /* background-color: #0b3d91; */
    background-color: black;
    color: white;
}

#gallery-nav {
    margin: 30px 0px;
    /* width: 30%; */
}

#gallery-nav > * {
    margin: 15px 0px;
}

#photo-gallery {
    width: 80%;
}

#pages {
    margin-top: 25px;
}
