body {
    box-sizing: border-box;
}

#rover {
    width: 75px;
}

.navbar-nav {
    font-size: 1.5rem;
}

.navbar-brand {
    padding: 15px 30px;
}

#rovers-desc {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

#gen-desc {
    margin-top: 3%;
    width: 60%;
}

